/*koyu gri #333333 */
/*açık gri #666666 */

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing : border-box;
}
.container-fluid{
    width: 100%;
}

/********** HEADER STYLE START ***********/
#header{
    display: flex;
}
#header-logo{
    width: 5%;
    background-color: #009688;
    padding: 8px;
    color: white;
    font-size: 0.8rem;
}
#navbar{
    display: flex;
    justify-content: space-between;
    width: 95%;
    background-color: #000000;
    color: white;
}
#nav-menu{
    display: flex;
}
.menu-item{
    padding: 8px 10px;
}
.menu-item:hover{
    background-color: white;
    color: #000;
}
.menu-item:hover a{
    background-color: white;
    color: #000;
}
.menu-item a{
    color: white;
}
#search-box{
    padding: 8px 10px;
}
#search-box:hover{
    background-color: #009688;
}
/************* HEADER STYLE - END *****************/

/************* PAGE IMAGE STYLE - START *****************/
#page-image{
    position: relative;
    width: 100%;
    height: 450px;
    max-height: 600px;            
    background-image: url("images/sailboat.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: cover;
}
#page-title{
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 10px;
    background-color: #000;
    color: white;
}
#page-title:hover{
    background-color: #009688;
}
/************* PAGE IMAGE STYLE - END *****************/

/************* TEAM SECTIN STYLE - START *****************/
#team{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

#team-title{
    padding: 10px;
}
#team-text{
    margin: 10px auto;
}
#team-list{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
}
.team-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    padding: 10px;
    margin: 10px;
}
.card-image{
    border-radius: 50%;
    margin-bottom: 10px;
    width: 70%;
}
.card-title{
    margin: 10px auto;
    text-align: center;
}
.card-text{
    margin: 10px auto;
}
/************* TEAM SECTION STYLE - END *****************/



/************* WORK SECTION STYLE - START *****************/
#work{
    width: 100%;
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    color: white;
}
.work-card-container{
    width: 25%;
    padding: 64px 8px;
}
.work-card{
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
}
.work-title{
    margin: 10px 0;
    padding: 0 8px;
}
.work-text{
    margin: 10px 0;
    padding: 0 8px;
}
.work-list{
    padding: 8px;
}
.work-list-item{
    margin: 15px 0;
}
/************* TEAM SECTION STYLE - END *****************/